nav {
  background-color: #171717;
}

nav ul:hover {
  font-weight: 40%;
}

.navbar-brand {
  font-family: "Viga", sans-serif;
}

.jumbotron {
  padding-top: 6rem;
  background-color: #5d5d5d;
}

.tombol {
  background: #fef200;
}
.web {
  border-color: #e6d72a;
}

#about {
  background-color: #ececec;
}

#projects {
  background-color: #fff;
}

#contact {
  background-color: #ececec;
}

section {
  padding-top: 5rem;
}
